//Theme
// Colors
primary = #1D3963 // Dark blue
secondary = #394E32 // Dark olive green
tertirary = dimgray
focus = #111
neutral = transparent
dark = #111
medium = #333
light = white

.primary-color
  color: primary

.secondary-color
  color: secondary

.tertirary-color
  color: tertirary

.light-color
  color: light

.primary
  background-color: primary
  color: light
  border-color: primary
  &:hover
    background-color darken(primary, 50%)

.secondary
  background-color: secondary
  color: light
  border-color: secondary
  &:hover
    background-color darken(secondary, 50%)

.tertirary
  background-color: tertirary
  color: light
  border-color: tertirary
  &:hover
    background-color darken(secondary, 50%)

.focus
  background-color: focus
  color: light
  border-color: focus
  &:hover
    background-color: primary

.neutral
  background-color: neutral
  color: dark
  border-color: dark
  &:hover
    background-color: secondary
    color: light

.dark .neutral
  background-color: neutral
  color: light!important
  border-color: dark
  &:hover
    background-color: secondary
    color: light

.dark .focus
  background-color: light
  color: dark
  border-color: focus
  &:hover
    background-color: primary
    color: light


.btn
  border-radius: 2rem
  padding-bottom: 10px!important

// Dark
.dark body
  background-color: dark
  background-image: url(/pattern-primary.png)!important;
  background-repeat: repeat;


.dark .bg-background, .dark footer 
  background: dark
  background-image: url(/pattern-secondary.png)!important;
  background-repeat: repeat;

.dark .btn-primary
  background : red
  color: accent-text

.dark .btn-muted
  background : muted-color
  box-sizing: border-box
  border-color: white
  color: primary

// Light 

body
  background-image: url(/light-pattern-primary.png)!important;
  background-repeat: repeat;

.bg-background
  background-image: url(/light-pattern-secondary.png)!important;
  background-repeat: repeat;

.nav
  background-image: url(/light-pattern-secondary.png)!important;
  background-repeat: repeat

footer 
  background-image: url(/light-pattern-secondary.png)!important;
  

// Switch Logos

.prose, .prose strong, .prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6
  color: #222

.dark .prose, .dark .prose strong, .dark .prose h1, .dark .prose h2, .dark .prose h3, .dark .prose h4, .dark .prose h5
  color: #fff


.logo-mobile
    width: 150px; /* Width of new image */
    height: 50px; /* Height of new image */
    margin-left: -60px
    margin-top:-10px

.dark
  --logo url("/images/logos/ONE.svg")
.dark .logo
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: var(--logo) no-repeat;
    width: 50px; /* Width of new image */
    height: 50px; /* Height of new image */
    padding-left: 125px; /* Equal to width of new image */

 .dark .logo-mobile 
    margin-left: -70px
    margin-top: -10px

.red
  background-color: red
.red-text
  color: red

.timeline

.center
  display: block
  margin-left: auto;
  margin-right: auto;
//Header
header
  padding: 50px 0px

//Links
.link
  color: #1D3963
  border-bottom-width: 0

.link-underline
  border-bottom-width 0
  background-image linear-gradient(transparent, transparent), linear-gradient(#1D3963, #1D3963)
  background-size 0 3px
  background-position 0 100%
  background-repeat no-repeat
  transition background-size 0.5s ease-in-out

.link-underline-black
  background-image linear-gradient(transparent, transparent), linear-gradient(#1a5fb4, #1a5fb4)

.link-underline:hover
  background-size 100% 3px
  background-position 0 100%

#meet 
  margin-top: -100px