// Tailwind
@import 'tailwindcss/base.css'
@import 'tailwindcss/components.css'
@import 'tailwindcss/utilities.css'

@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
  }
}



// Colors
primaryColor = #3490dc // blue
secondaryColor = #f6ad55 // orange
accentColor = #9f7aea // purple
neutralColor = #a0aec0 // gray

// Function to darken colors
darkenColor(color, amount) 
  darken(color, amount)

// Focus
.focus-primary
  background-color darkenColor(primaryColor, 70%)

[data-theme='ONE']
  --logo url("/src/assets/images/logos/ONE.svg")
  .logo
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: var(--logo) no-repeat;
    width: 50px; /* Width of new image */
    height: 50px; /* Height of new image */
    padding-left: 125px; /* Equal to width of new image */
    padding-top: 20px  
  .base-100, body
    background-image: url(/pattern-primary.png);
    background-repeat: repeat;
  .pattern-primary
    background-image: url(/pattern-primary.png);
    background-repeat: repeat; 
  .pattern-secondary
    background-image: url(/pattern-secondary.png);
    background-repeat: repeat; 
  .pattern-accent   
    background-image: url(/pattern-accent.png);
    background-repeat: repeat; 
  .border-primary
    border-color darkenColor(primaryColor, 30%)

[data-theme='TWO']
  --color-default white
  --logo url("/images/logos/ONE-black.svg")
  .logo
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: var(--logo) no-repeat;
    width: 50px; /* Width of new image */
    height: 50px; /* Height of new image */
    padding-left: 125px; /* Equal to width of new image */
    padding-top: 20px    

[data-theme='hilltribe']
  --color-default #27372E
  --logo url("/src/assets/images/hilltribe/logo-icon.png")

.red
  background-color: red
.center
  display: block
  margin-left: auto;
  margin-right: auto;
//Header
header
  padding: 10px

//Links

.link-underline
  border-bottom-width 0
  background-image linear-gradient(transparent, transparent), linear-gradient(#fff, #fff)
  background-size 0 3px
  background-position 0 100%
  background-repeat no-repeat
  transition background-size 0.5s ease-in-out

.link-underline-black
  background-image linear-gradient(transparent, transparent), linear-gradient(#1a5fb4, #1a5fb4)

.link-underline:hover
  background-size 100% 3px
  background-position 0 100%

//Headings
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
  font-family font-secondary, sans-serif
  font-weight bold
  line-height tight
  color white

h1, .h1
  font-size 40px
  font-weight 600

h2, .h2
  font-size 2rem

h3, .h3
  font-size 1.5rem

h4, .h4
  font-size 1.25rem

h5, .h5
  font-size 1.125rem

h6, .h6
  font-size 1rem

section#channels
  padding : 40px 0

