---
import Layout from "@/layouts/main-layout.astro";
import Component from "@/blocks/HeroWavy.astro";
import { Suspense as SuspenseComponent } from "simple-stack-stream/components";

type Component = {
  name: string;
  url: string;
  image: string;
};
---

<Layout title="ONE">
  <main>
    <h1>hi</h1>
    <SuspenseComponent ssr="false">
        <Component />
      <div class="primary" slot="fallback">Loading...</div>
    </SuspenseComponent>
  </main>
  <script></script></Layout
>
