---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import Icon from "astro-icon";
import Workspace from "@/components/workspace.astro";
import Design from "@/figma/design";
import Join from "@/components/video/JoinForm.jsx";


---

<MainLayout title="ONE">
  <section class="space-y-6 pb-12 pt-16 lg:py-28">
    <iframe
            title="100ms-app"
            allow="camera *;microphone *;display-capture *"
            src="https://oneie-video.app.100ms.live/meeting/qzr-cio-gvk"
            style="height: 100vh; width: 100%; border:0;"
        >
    </iframe>
  </section>
</MainLayout>
