---
import MainLayout from "@/layouts/no-footer.astro";

---

<MainLayout title="ONE">
<section id="hero">
        <h1>Unlock a New Level of Support with Advanced Voice AI</h1>
        <p>Experience "Care" - the voice AI designed for children and young people with special needs. Tap into the future of empathetic, real-time interaction.</p>
        <p>Click the Call Button Below Now </p>

        
</section>



 
</MainLayout>
 <script>
  var vapiInstance = null;
  const assistant = "cdf09da7-fe2f-4948-8a61-b429f2df32f8"; // Substitute with your assistant ID
  const apiKey = "3fccd4f2-5715-4e97-b6fb-5b870055c74a"; // Substitute with your Public key from Vapi Dashboard.
  const buttonConfig = {}; // Modify this as required

  (function (d, t) {
    var g = document.createElement(t),
      s = d.getElementsByTagName(t)[0];
    g.src =
      "https://cdn.jsdelivr.net/gh/VapiAI/html-script-tag@latest/dist/assets/index.js";
    g.defer = true;
    g.async = true;
    s.parentNode.insertBefore(g, s);

    g.onload = function () {
      vapiInstance = window.vapiSDK.run({
        apiKey: apiKey, // mandatory
        assistant: assistant, // mandatory
        config: buttonConfig, // optional
      });
    };
  })(document, "script");

</script>

