---
import { Image } from 'astro:assets';
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import Icon from "astro-icon";
import Workspace from "@/components/workspace";
import Design from "@/figma/design";
import Cal from "@/blocks/Cal.astro";
import Channels from "@/blocks/Channels.astro";
import Stats from "@/blocks/Stats.astro";
import CTA from "@/blocks/CTA.astro";
import EcommercePlatforms from "@/blocks/EcommercePlatforms.astro";
import { Tweet, Vimeo, YouTube } from 'astro-embed';
import Hero from "@/sections/hero-hilltribe.astro";

---

<MainLayout title="ONE">
 <Hero />
 <!-- 
  <section>
    <container>
      
  <div class="flex justify-center items-center pattern-secondary">
    <div class="w-full max-w-[800px] shadow-lg p-4">
      <h2 class="text-center">Demo</h2>
      <br>
  <YouTube id="https://www.youtube.com/watch?v=kj1OB42Dhqw"/>
    </div>
</div>
</container>
</section>

  <Channels/>
  <Stats/>
  <EcommercePlatforms/>
  <CTA/>
<Workspace client:load/>
-->
</MainLayout>
