<section id="channels">
    <h2 align="center">Connect with Your Customers with AI on EVERY Messaging Channel</h2>
    <br>
    <div class="logo-cloud grid-cols-2 xl:grid-cols-4 2xl:grid-cols-6 gap-2.5 ">
        <a class="logo-item bg-background" href="/channels/messenger">
            <span><img src="/images/logos/logo-messenger.svg" width="50px" height="50px" alt="Connect Messemger"></span>
            <span>Messenger</span>
        </a>
        <a class="logo-item bg-background" href="/channels/whatsapp">
            <span><img src="/images/logos/logo-whatsapp.svg" width="50px" height="50px" alt="Connect Whatsapp"></span>
            <span>WhatsApp</span>
        </a>
        <a class="logo-item bg-background" href="/channels/instagram">
            <span><img src="/images/logos/logo-instagram.svg" width="50px" height="50px" alt="Connect Instagram"></span>
            <span>Instagram</span>
        </a>
        <a class="logo-item bg-background" href="/channels/google">
            <span><img src="/images/logos/logo-google-chat.svg" width="50px" height="50px" alt="Connect Google Chat"></span>
            <span>Google Chat</span>
        </a>
        <a class="logo-item bg-background" href="/channels/viber">
            <span><img src="/images/logos/logo-viber.svg" width="50px" height="50px" alt="Connect Viber"></span>
            <span>Viber</span>
        </a>
        <a class="logo-item bg-background" href="/channels/telegram">
            <span><img src="/images/logos/logo-telegram.svg" width="50px" height="50px" alt="Connect Telegram"></span>
            <span>Telegram</span>
        </a>
        <a class="logo-item bg-background" href="/channels/wechat">
            <span><img src="/images/logos/logo-wechat.svg" width="50px" height="50px" alt="Connect Wechat"></span>
            <span>WeChat</span>
        </a>
        <a class="logo-item bg-background" href="/channels/vk">
            <span><img src="/images/logos/logo-vk.svg" width="50px" height="50px" alt="Connect VK"></span>
            <span>VK</span>
        </a>
        <a class="logo-item bg-background" href="/channels/line">
            <span><img src="/images/logos/logo-line.svg" width="50px" height="50px" alt="Connect Line"></span>
            <span>Line</span>
        </a>
        <a class="logo-item bg-background" href="/channels/voice">
            <span><img src="/images/logos/logo-voice.svg" width="50px" height="50px" alt="Connect Google Voice"></span>
            <span>Voice</span>
        </a>
        <a class="logo-item bg-background" href="/channels/email">
            <span><img src="/images/logos/logo-gmail.svg" width="50px" height="50px" alt="Connect Email"></span>
            <span>Email</span>
        </a>
        <a class="logo-item bg-background" href="/channels/sms">
            <span><img src="/images/logos/logo-sms.svg" width="50px" height="50px"  alt="Connect SMS"></span>
            <span>SMS</span>
        </a>
    </div>
</section>
<style lang="stylus">
    // Logo styles
.logo-cloud
  display grid
  overflow hidden
  border-radius var(--theme-rounded-container)

.logo-item
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 1px;

  span
    padding-left 1px
    padding-right 1px
    img
      padding-right 8px

</style>