<section class="px-5 py-20 xl:py-[120px]"> <div class="container"> <div class="bg-gradient
row justify-center rounded-b-[80px] rounded-t-[80px] px-[30px] pb-[75px] pt-16"> <div
class="lg:col-11"> <div class="row"> <div class="lg:col-7"> <h2 class="text-5xl font-bold
text-white">Explode Ecommerce Sales With AI</h2> <a data-no-swup="" class="btn btn-primary mt-8"
href="/get-started">Get Started</a> </div> <div class="mt-8 lg:col-5 lg:mt-0"> <p
class="text-white"> Elevate traffic, conversion rates and customer lifetime value. Connect with your
customers on their favourite messaging channels and engage them in personalised conversations with
the help of AI. </p> </div> </div> </div> </div> </div> </section> 
