<section id="ecommerce-platforms">
<h2 class="ecommerce-heading text-center">Connect Your Ecommerce Store</h2>
<br>
<div class="ecommerce-platforms grid grid-cols-1 md:grid-cols-3 items-center ecommercere-platforms primary-pattern">
    <div class="">
      <img src="/images/logos/logo-shopify.png" alt="Shopify" width="360px" height="200px"/>
      <h3 class="text-2xl font-bold leading-loose text-center">
        Shopify
      </h3>
      <p class="text-base leading-normal text-center">
        Connect your Shopify store to send product, collection, customer, cart,
        order and information across all channels as messages.
      </p>
    </div>
    <div class="pattern-secondary">
      <img src="/images/logos/logo-woo.svg" alt="Woo Commerce" width="360px" height="200px" />
      <h3 class="text-2xl font-bold leading-loose text-center">
        WooCommerce
      </h3>
      <p class="text-base leading-normal text-center">
        Connect your WooCommerce store to send product, collection, customer,
        cart, order and information across all channels as messages.
      </p>
    </div>
    <div class="pattern-secondary">
      <img src="/images/logos/logo-fb.svg" alt="Social" width="360px" height="200px" />
      <h3 class="text-2xl font-bold leading-loose text-center">
        Social Shopping
      </h3>
      <p class="text-base leading-normal text-center">
        Connect your Facebook and Instragram shops to send product, collection,
        customer, cart, order and information across all channels as messages.
      </p>
    </div>
  </div>
</section>

<style lang="stylus">
  #ecommerce-platforms
    padding-bottom: 2px
  #ecommerce-platforms img
    display: block; /* Make the image a block-level element */
    margin-left: auto;
    margin-right: auto;
  #ecommerce-platforms p
    padding-top: 0px 
    padding-bottom: 40px
    padding-left: 10px
    padding-right: 10px;
</style>