<section id="hero">
	<div class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-4xl base-content">
		<h1 class="text-4xl font-bold leading-none sm:text-5xl ">Your <span class="">AI Army</span>
		 <span class="">Awaits</span>
		</h1>
		<p class="px-8 mt-8 mb-12 text-lg">Accellerate marketing, sales, service, enginnering, and intelligence with AI agents that do important jobs in your enterprise and life ... surpisingly fast. 
        </p>
		<div class="flex flex-wrap justify-center">
            <a href="/get-started">
			<button class="px-8 py-3 m-2 font-medium btn btn-rounded focus">START NOW</button></a>
                        <a href="https://me.one.ie/login">

			<button class="px-8 py-3 m-2 border btn btn-muted btn-rounded neutral">LEARN MORE...</button>
                        </a>
		</div>
	<p class="px-8 mt-8 mb-12">Free Forever. <a class="link link-underline" href="/guides/how-to-profit-with-mit-and-open-source/"> MIT License. </a>
        </p>
	</div>
</section>
 
<style lang="stylus">
	#hero {
		padding:0px
		margin:-50px 0
	}
</style>