<div class="carousel w-full">
  <div
    class="carousel-item grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    <!-- OpenAI -->
    <div class="card bg-background shadow-xl">
      <div class="card-body flex items-center justify-center">
        <img
          src="/images/logos/logo-openai.svg"
          width="50px"
          height="50px"
          alt="Open AI"
        />
        <p>OpenAI</p>
      </div>
    </div>
    <!-- Azure OpenAI -->
    <div class="card bg-background shadow-xl">
      <div class="card-body flex items-center justify-center">
        <img
          src="/images/logos/logo-azure.svg"
          width="50px"
          height="50px"
          alt="Azure"
        />
        <p>Azure OpenAI</p>
      </div>
    </div>
    <!-- Google Gemini -->
    <div class="card bg-background shadow-xl">
      <div class="card-body flex items-center justify-center">
        <img
          src="/images/logos/logo-google.svg"
          width="50px"
          height="50px"
          alt="Google Gemini"
        />
        <p>Google Gemini</p>
      </div>
    </div>
    <!-- Antropic Claude -->
    <div class="card bg-background shadow-xl">
      <div class="card-body flex items-center justify-center">
        <img
          src="/images/logos/logo-antrophic.svg"
          width="50px"
          height="50px"
          alt="Antrophic"
        />
        <p>Antropic Claude</p>
      </div>
    </div>
    <!-- Mistral -->
    <div class="card bg-background shadow-xl">
      <div class="card-body flex items-center justify-center">
        <img
          src="/images/logos/logo-mistral.svg"
          width="50px"
          height="50px"
          alt="Mistral"
        />
        <p>Mistral</p>
      </div>
    </div>
    <!-- Hugging Face -->
    <div class="card bg-background shadow-xl">
      <div class="card-body flex items-center justify-center">
        <img
          src="/images/logos/logo-hugging-face.svg"
          width="50px"
          height="50px"
          alt="Hugging Face"
        />
        <p>Hugging Face</p>
      </div>
    </div>
    <!-- Additional AI models info -->
    <div class="card bg-background shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Connect to over 100 AI models</h2>
        <p>with Open Router.</p>
      </div>
    </div>
  </div>
</div>
