<section id="models">
  <div class="items-center">
    <h2 class="text-center text-xl">Use Every AI Model At Cost</h2>
  </div>
    <br>
    <div class="logo-cloud grid-cols-2 xl:grid-cols-3 2xl:grid-cols-6 gap-2.5 ">
        <span class="logo-item bg-background" >
            <span><img src="/images/logos/logo-openai.svg" width="50px" height="50px" alt="Open AI "></span>
            <span>OpenAI</span>
        </span>
        <span class="logo-item bg-background">
            <span><img src="/images/logos/logo-azure.svg" width="50px" height="50px" alt="Azure"></span>
            <span>Azure OpenAI</span>
        </span>
        <span class="logo-item bg-background" >
            <span><img src="/images/logos/logo-google.svg" width="50px" height="50px" alt="Google Gemini "></span>
            <span>Google Gemini</span>
        </span>
        <span class="logo-item bg-background">
            <span><img src="/images/logos/logo-antrophic.svg" width="50px" height="50px" alt="Antrophic"></span>
            <span>Antropic Claude</span>
        </span>
        <span class="logo-item bg-background" >
            <span><img src="/images/logos/logo-mistral.svg" width="50px" height="50px" alt="Mistral"></span>
            <span>Mistral</span>
        </span>
        <span class="logo-item bg-background" >
            <span><img src="/images/logos/logo-hugging-face.svg" width="50px" height="50px" alt="Connect Telegram"></span>
            <span>Hugging Face</span>
        </span>
       
    </div>
    <div class="items-center"><br>
    <h3 class="text-center text-lg">+ Connect to over 100 AI models with Open Router</h3>
    </div>

</section>

<style lang="stylus">
    // Logo styles
.logo-cloud
  display grid
  overflow hidden
  border-radius var(--theme-rounded-container)

.logo-item
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 1px;

  span
    padding-left 1px
    padding-right 1px
    img
      padding-right 8px

</style>