<!-- Testimonial scroller wrapper -->
<div class="carousel w-full">
  <!-- Testimonial items wrapper -->
  <div class="flex-no-wrap flex snap-x flex-row overflow-x-auto">
    <!-- Testimonial 1 -->
    <div class="carousel-item w-full snap-center p-4 md:w-1/3">
      <div class="card card-compact h-full bg-base-100 shadow-xl">
        <div class="card-body">
          <p>
            "Astro Build streamlined our online storefront, making our customer experience smoother
            than ever! The support team is incredibly responsive and knowledgeable."
          </p>
          <div class="mt-4 flex items-center justify-between">
            <div class="flex">
              <!-- Star ratings -->
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <s < div
                >vg class="w-5 h-5 text-gray-300" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></s
              >
            </div>
            <div class="avatar">
              <div class="w-12 rounded-full">
                <img src="path_to_image_person1.jpg" alt="Profile 1" />
              </div>
            </div>
          </div>
          <div class="text-sm font-semibold text-gray-700">
            - Melissa Sanchez, Founder of Earthly Delights
          </div>
        </div>
      </div>
    </div>

    <!-- Testimonial 2 -->
    <!-- Repeat the same structure as Testimonial 1, replacing the text, image paths, and name. -->
    <!-- Remember to include 5 star SVGs with the same style. -->
    <div class="carousel-item w-full snap-center p-4 md:w-1/3">
      <div class="card card-compact h-full bg-base-100 shadow-xl">
        <div class="card-body">
          <p>
            "Astro Build streamlined our online storefront, making our customer experience smoother
            than ever! The support team is incredibly responsive and knowledgeable."
          </p>
          <div class="mt-4 flex items-center justify-between">
            <div class="flex">
              <!-- Star ratings -->
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-gray-300"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
            </div>
            <div class="avatar">
              <div class="w-12 rounded-full">
                <img src="path_to_image_person1.jpg" alt="Profile 1" />
              </div>
            </div>
          </div>
          <div class="text-sm font-semibold text-gray-700">
            - Melissa Sanchez, Founder of Earthly Delights
          </div>
        </div>
      </div>
    </div>

    <!-- Testimonial 3 -->
    <!-- Repeat the same structure as the above testimonials -->
    <div class="carousel-item w-full snap-center p-4 md:w-1/3">
      <div class="card card-compact h-full bg-base-100 shadow-xl">
        <div class="card-body">
          <p>
            "Astro Build streamlined our online storefront, making our customer experience smoother
            than ever! The support team is incredibly responsive and knowledgeable."
          </p>
          <div class="mt-4 flex items-center justify-between">
            <div class="flex">
              <!-- Star ratings -->
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-gray-300"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
            </div>
            <div class="avatar">
              <div class="w-12 rounded-full">
                <img src="path_to_image_person1.jpg" alt="Profile 1" />
              </div>
            </div>
          </div>
          <div class="text-sm font-semibold text-gray-700">
            - Melissa Sanchez, Founder of Earthly Delights
          </div>
        </div>
      </div>
    </div>

    <!-- Additional testimonials follow the same pattern -->
    <div class="carousel-item w-full snap-center p-4 md:w-1/3">
      <div class="card card-compact h-full bg-base-100 shadow-xl">
        <div class="card-body">
          <p>
            "Astro Build streamlined our online storefront, making our customer experience smoother
            than ever! The support team is incredibly responsive and knowledgeable."
          </p>
          <div class="mt-4 flex items-center justify-between">
            <div class="flex">
              <!-- Star ratings -->
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-yellow-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
              <svg
                class="h-5 w-5 text-gray-300"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M9.049 3a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049.509 10.23.515a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path><path
                  d="M9.049 6.5a1 1 0 01.904-.593l1.882.179-1.616-1.011a1 1 0 01-.5-.883L10.049 4.009l.181.006a1 1 0 01.819.283l1.248 1.53-1.616-.152a1 1 0 01-.906.596l-.396 1.686a1 1 0 01-.904.593l-.396-1.686z"
                ></path></svg
              >
            </div>
            <div class="avatar">
              <div class="w-12 rounded-full">
                <img src="path_to_image_person1.jpg" alt="Profile 1" />
              </div>
            </div>
          </div>
          <div class="text-sm font-semibold text-gray-700">
            - Melissa Sanchez, Founder of Earthly Delights
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
