<div class="grid grid-cols-5 gap-4 text-center">
  <!-- Column Headers -->
  <div>Background</div>
  <div>Pattern</div>
  <div>Focus</div>
  <div>Border</div>
  <div>Content</div>

 <!-- Primary Row -->
<div class="bg-primary p-5">Color Primary</div>
<div class="pattern-primary p-5">Pattern Primary</div>
<div class="focus-primary p-5">Focus Primary</div>
<div class="border border-primary p-5">Border Primary</div>
<div class="content-primary p-5">Content Primary</div>

<!-- Secondary Row -->
<div class="bg-secondary p-5">Color Secondary</div>
<div class="pattern-secondary p-5">Pattern Secondary</div>
<div class="focus-secondary p-5">Focus Secondary</div>
<div class="border border-secondary p-5">Border Secondary</div>
<div class="content-secondary p-5">Content Secondary</div>

<!-- Accent Row -->
<div class="bg-accent p-5">Color Accent</div>
<div class="pattern-accent p-5">Pattern Accent</div>
<div class="focus-accent p-5">Focus Accent</div>
<div class="border border-accent p-5">Border Accent</div>
<div class="content-accent p-5">Content Accent</div>

<!-- Neutral Row -->
<div class="bg-neutral p-5">Color Neutral</div>
<div class="pattern-neutral p-5">Pattern Neutral</div>
<div class="focus-neutral p-5">Focus Neutral</div>
<div class="border-neutral p-5">Border Neutral</div>
<div class="neutral-content p-5">Content Neutral</div>
</div>

<br><hr class="border-primary"><br><br>

<!-- Backgrounds -->
<div class="grid grid-cols-4 gap-4 text-center">
  <!-- Column Headers -->
  <div>Background</div>
  <div>Focus</div>
  <div>Border</div>
  <div>Content</div>

  <!-- Primary Row -->
  <div class="bg-base-100 p-5">Base 100</div>
  <div class="bg-base-200 p-5">Base 200 </div>
  <div class="bg-base-300 p-5">Base 300</div>
  <div class="base-content p-5">Base Content</div>

</div>
