<div class="hero min-h-screen bg-base-200">

      <img src ="https://figmage.com/images/a-aLf0lNrDha33-xbLYeK.png">

</div>
<div class="hero min-h-screen bg-base-200">
hi
<img src="https://figmage.com/images/cAZSiCcHTzqiUIliXZX5y.png" >
</div>
