---
const title = "ONE";
const description = "Make The World Yours.";
const keywords = "AI";
const relatedto = "creator, consumer, partner, helper"
const category = "Home";
import MainLayout from "@/layouts/main-layout.astro";



---
<MainLayout title="ONE">
<div class="secondary-background">

</div>  
</MainLayout>
